<tr>
  <th><%= pizzeria[:name] %></th>
  <%# Permet de gérer les cas de l'année en cours ou s'il manque des bilans en milieu d'une année %>
  <% 12.times do |current_month| %>
    <td><%= pizzeria[:balance_sheets].find { |balance_sheet| balance_sheet.month.month == current_month + 1 }&.turnover %> €</td>
  <% end %>
  
  <td style="color: <%= turnover_color(pizzeria[:annual_turnover], average) %>;"><%= pizzeria[:annual_turnover] %> €</td>
</tr>
