<tr>
  <th><%= pizzeria[:name] %></th>

  <% pizzeria[:balance_sheets].each do |balance_sheet| %>
    <td><%= balance_sheet["turnover"] %> €</td>
  <% end %>

  <% if pizzeria[:balance_sheets].count < 12 %>
    <% (12 - pizzeria[:balance_sheets].count).times do %>
      <td>...</td>
    <% end %>
  <% end %>
  
  <td style="color: <%= turnover_color(pizzeria[:annual_turnover], average) %>;"><%= pizzeria[:annual_turnover] %> €</td>
</tr>
