<div id="container">
  <h1>Chiffre d'affaire</h1>

  <div>
    Année : 
    <select id="year_select" name="year">
      <option value="2022">2022</option>
      <option value="2023">2023</option>
      <option value="2024" selected >2024</option>
    </select>
  </div>

  <p><%= @pizzerias.count %> pizzerias trouvées</p>

  <table>
    <%= render "table_header" %>

    <%= render "table_body", pizzerias: @pizzerias, average: @average_turnover %>
  </table>

  <div id="average_turnover">
    <p>CA moyen : <%= @average_turnover %> €</p>
  </div>
</div>
